name: Release Obsidian plugin

on:
  push:
    tags:
      - "*"

env:
  PLUGIN_NAME: attachment-management

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build Changelog
        id: release_changelog
        uses: mikepenz/release-changelog-builder-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        id: build
        run: |
          npm install
          npm run build
          mkdir ${{ env.PLUGIN_NAME }}
          cp main.js manifest.json styles.css ${{ env.PLUGIN_NAME }}
          zip -r ${{ env.PLUGIN_NAME }}-${{ github.ref_name }}.zip ${{ env.PLUGIN_NAME }}
          ls

      - name: Release
        id: release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "main.js,manifest.json,${{ env.PLUGIN_NAME }}-${{ github.ref_name }}.zip"
          body: ${{ steps.release_changelog.outputs.changelog }}
